{% extends 'food/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="card" height="300px" width="400px" src="{{item.item_image}}" /> 
            </div>
            <div class="col-md-6">
                <!-- <h1>{{item.item_name}}</h1>
                <h2>{{item.item_desc}}</h2>
                <h3>${{item.item_price}}</h3>
                as item is not passed using context in class view, use object -->

                <h1>{{object.item_name}}</h1>
                <h2>{{object.item_desc}}</h2>
                <h3>${{object.item_price}}</h3>
                <a href="{% url 'food:delete_item' item.id %}">Delete</a>
            </div>
        </div>
    </div>
    
{% endblock%}