{% extends 'food/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class = "col-md-4 offset-md-4">
            <br />
            <div class="card">
                <div class="card-header text-white bg-secondary">
                    <div class="card-title">
                        Login
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {{ form }} -->
                        {% for field in form %}
                            <div class="form-group">
                                {{field.name}}
                                {{field}}
                            </div>
                        {%  endfor %}
                        <br/>
                        <button class= "btn btn-dark text-white"  type="submit">Login</button> 
                        <a class="btn btn-dark text-white" href="{% url 'register' %}">New User Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



