{% extends 'food/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class = "col-md-4 offset-md-4">
            <br />
            <div class="card">
                <div class="card-header text-white bg-secondary">
                    <div class="card-title">
                        Profile
                    </div>
                </div>
                <div class="card-body">
                    <h1>{{ user.username }}</h1>
                    <img height= "100px" weight="100px" src="{{user.profile.image.url}}" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



